#table,
#newTable {
  height: 672px;
  width: 672px;
  border-collapse: collapse;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#button {
  margin: 20px;
}
